body {
  margin: 0;
  padding: 0;
  text-decoration: none ;
  font-family: 'Kumbh Sans', sans-serif;
}

.banner-navbar {
  background-image: url("img/banner.png");
  background-size: contain;
  background-position: center;
  position: relative;
  width: 100%;
  height: 180px;
}

.logo {
    width: 150px;
    height: 150px;
  }
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.main-section {
  margin-top: 60px;
  text-align: center;
}

.main-section h2{
    color: #DF4948;
    font-weight: 700;
    font-size: 40px;
}
.section {
  margin: 5% 0px;
  text-align: center;
}

.section p{
    color: #039CA1;
    font-weight: 500;
    font-size: 30px;
}

.colored-section{
  padding-bottom: 0px;
}

.container h4{
  font-size: 25px;
  font-weight: 500;
  color: #039CA1
}

.colored-section span{
    color: #DF4948;
}

.social-media-section {
  margin: 5% 0;
  text-align: center;
}

.social-media-section a {
  margin: 0 15px;
  text-decoration: none;
}

.social-media-section img {
  width: 45px;
}

.footer-section p{
  color: #039CA1;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

/* Modificaciones para responsive */

@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .banner-navbar {
    height: 120px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .main-section h2 {
    font-size: 28px;
  }

  .section p {
    font-size: 22px;
  }

  .container h4 {
    font-size: 18px;
  }

  .social-media-section img {
    width: 35px;
  }

  .social-media-section {
    margin: 10% 0;
  }

  .footer-section p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
  .banner-navbar {
    height: 150px;
  }

  .logo {
    width: 120px;
    height: 120px;
  }

  .main-section h2 {
    font-size: 36px;
  }

  .section p {
    font-size: 28px;
  }

  .container h4 {
    font-size: 22px;
  }

  .social-media-section img {
    width: 40px;
  }

  .social-media-section {
    margin: 10% 0;
  }

  .footer-section p {
    font-size: 19px;
  }
}